extends layouts/main
include mixins/imageBlock

block content
    .images 
        each image in images 
            +imageBlock({
                title:image.title,
                views:image.views ,
                imageFile:image.imageFile
            })